/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

$greyblue: rgba(57,124,172,1);
$darkgrey: rgba(70,70,70,1);
$grey: rgba(100,100,100,1);

html {
  margin: 50px 0 0;
  padding: 0;

  overflow-y: scroll;
  font-family: 'Open Sans';
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .15rem;
  font-weight: 300;
}

p {
  letter-spacing: .15rem;
  font-weight: 100;
}

#main_header {
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background:     -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background:      -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background:         linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  border: none;
}

#logo {
  padding: 10px 0;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 2.7rem;
  letter-spacing: -.05em;
}

#main_content {
  margin-top: 50px;
  margin-bottom: 125px;
}

footer {
  padding: 5px 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    font-size: 1.2rem;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  @media screen and (max-width: 469px) {
    ul {
      display: none;
    }
  }
}

.btn {
  padding: 10px 45px;
}

.navbar-brand {
  .greyblue {
    color: $greyblue;
  }
  &:hover {
    .greyblue {
      color: $grey
    }
  }
}

.brand {
  .greyblue {
    color: $greyblue;
  }
  color: $grey;
  &:hover {
    color: $darkgrey;
    text-decoration: none;
    .greyblue {
      color: $darkgrey;
    }
  }
}

.login-nav {
  font-size: 1.1em;
}

.inline-heading {
  h1 {
    display: inline;
  }
}

// Prevents effects on li tags
.navbar-nav>li, .navbar-nav {
float: left !important;
}
.navbar-right {
float: right!important;
}
