<footer class="navbar-fixed-bottom container">
  <nav class=" ">
    <small>
      Copyright &copy; Smart Building Apps
    </small>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
