<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Visitors Parking", root_path, id: "logo", class: "navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Up", new_user_registrations_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    </ul>
  </div>
</header>
